<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<body>

<div class="container-fluid px-4" layout:fragment="content">

    <div class="py-2">
        <h2 th:text="#{page.mailTemplate}">메일 템플릿 수정</h2>
    </div>

    <form action="editMailTemplate.html" th:action th:object="${mailTemplate}" method="post">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
        </div>
        <div>
            <label for="templateName" th:text="#{label.mailTemplate.templateName}">템플릿명</label>
            <input type="text" id="templateName" th:field="*{templateName}"
                   th:errorclass="field-error"
                   class="form-control">
            <div class="field-error" th:errors="*{templateName}">
                템플릿명 오류
            </div>
        </div>
        <div>
            <label for="subject" th:text="#{label.sendInfo.subject}">제목</label>
            <input type="text" id="subject" th:field="*{subject}"
                   th:errorclass="field-error"
                   class="form-control">
            <div class="field-error" th:errors="*{subject}">
                subject 오류
            </div>
        </div>
        <div>
            <label for="content" th:text="#{label.sendInfo.content}">메일 본문</label>
            <textarea id="content" th:field="*{content}"
                      th:errorclass="field-error"
                      class="form-control"
                      rows="10">
            </textarea>
            <div class="field-error" th:errors="*{content}">
                content 오류
            </div>
        </div>
        <div>
            <label for="macroKey" th:text="#{label.mailTemplate.macroKey}">macroKey</label>
            <input type="text" id="macroKey" th:field="*{macroKey}"
                   th:errorclass="field-error"
                   class="form-control">
            <div class="field-error" th:errors="*{macroKey}">
                macroKey 오류
            </div>
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit" th:text="#{button.save}">완료</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='mailTemplate.html'"
                        th:onclick="|location.href='@{/template/{mailTemplateId}(mailTemplateId=${mailTemplateId})}'|"
                        type="button" th:text="#{button.cancel}">취소</button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>
