<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">
<body>
<div class="container" layout:fragment="content">

    <div class="py-2">
        <h2 th:text="#{page.mailInfo}">메일 발송 정보 등록</h2>
    </div>

    <form action="mailInfo.html" th:action th:object="${mailInfo}" method="post">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
        </div>
        <div>
            <label for="mailInfoName" th:text="#{label.mailInfo.mailInfoName}">메일 발송 정보 명</label>
            <input type="text" id="mailInfoName" th:field="*{mailInfoName}"
                   th:errorclass="field-error"
                   class="form-control" placeholder="이름을 입력하세요">
            <div class="field-error" th:errors="*{mailInfoName}">
                메일 발송 정보 오류
            </div>
        </div>
        <div>
            <label for="charset" th:text="#{label.mailInfo.charset}">charset</label>
            <input type="text" id="charset" th:field="*{charset}"
                   th:errorclass="field-error"
                   class="form-control" placeholder="charset 입력 ex)utf-8">
            <div class="field-error" th:errors="*{charset}">
                charset 오류
            </div>
        </div>
        <div>
            <label for="contentType" th:text="#{label.mailInfo.contentType}">contentType</label>
            <select id="contentType" name="contentType" class="form-select">
                <option th:each="contentTypeValue : ${T(com.system.mail.mailinfo.ContentType).values()}"
                        th:value="${contentTypeValue}" th:text="${contentTypeValue.contentType}"></option>
            </select>
        </div>
        <div>
            <label for="mailTo" th:text="#{label.mailInfo.mailTo}">mailTo</label>
            <input type="text" id="mailTo" th:field="*{mailTo}"
                   th:errorclass="field-error"
                   class="form-control" placeholder="수신자 정보 ex)[$name$],[$email$]">
            <div class="field-error" th:errors="*{mailTo}">
                mailTo 오류
            </div>
        </div>
        <div>
            <label for="mailFrom" th:text="#{label.mailInfo.mailFrom}">mailFrom</label>
            <input type="text" id="mailFrom" th:field="*{mailFrom}"
                   th:errorclass="field-error"
                   class="form-control" placeholder="발송자 정보 ex)관리자,no-reply@test.com">
            <div class="field-error" th:errors="*{mailFrom}">
                mailFrom 오류
            </div>
        </div>
        <div>
            <label for="replyTo" th:text="#{label.mailInfo.replyTo}">replyTo</label>
            <input type="text" id="replyTo" th:field="*{replyTo}"
                   th:errorclass="field-error"
                   class="form-control" placeholder="회신 주소 ex) no-reply,no-reply@test.com">
            <div class="field-error" th:errors="*{replyTo}">
                replyTo 오류
            </div>
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit" th:text="#{button.save}">저장</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='mailInfoList.html'"
                        th:onclick="|location.href='@{/mailInfo/list}'|"
                        type="button" th:text="#{button.cancel}">취소</button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>