<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2 th:text="#{page.mailInfo}">메일 설정 정보</h2>
    </div>

    <!-- 추가 -->
    <h2 th:if="${param.status}" th:text="'저장 완료'"></h2>
    <div>
        <label for="itemId" th:text="#{label.id}">ID</label>
        <input type="text" id="itemId" name="itemId" class="form-control" value="1" th:value="${mailInfo.id}" readonly>
    </div>
    <div>
        <label for="mailInfoName" th:text="#{label.item.itemName}">설정명</label>
        <input type="text" id="mailInfoName" name="mailInfoName" class="form-control" value="설정명" th:value="${mailInfo.mailInfoName}" readonly>
    </div>
    <div>
        <label for="mailFrom" th:text="#{label.item.price}">mailFrom</label>
        <input type="text" id="mailFrom" name="mailFrom" class="form-control" value="10000" th:value="${mailInfo.mailFrom}" readonly>
    </div>
    <div>
        <label for="mailTo" th:text="#{label.item.quantity}">mailTo</label>
        <input type="text" id="mailTo" name="mailTo" class="form-control" value="10" th:value="${mailInfo.mailTo}" readonly>
    </div>
    <div>
        <label for="replyTo" th:text="#{label.item.quantity}">replyTo</label>
        <input type="text" id="replyTo" name="replyTo" class="form-control" value="10" th:value="${mailInfo.replyTo}" readonly>
    </div>
    <div>
        <label for="createDate" th:text="#{label.item.quantity}">생성일</label>
        <input type="text" id="createDate" name="createdDate" class="form-control" value="10" th:value="${mailInfo.createdDate}" readonly>
    </div>
    <div>
        <label for="lastModifiedDate" th:text="#{label.item.quantity}">최종 수정일</label>
        <input type="text" id="lastModifiedDate" name="lastModifiedDate" class="form-control" value="10" th:value="${mailInfo.lastModifiedDate}" readonly>
    </div>

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editForm.html'"
                    th:onclick="|location.href='@{/mailInfo/{mailInfoId}/edit(mailInfoId=${mailInfo.id})}'|"
                    type="button" th:text="#{page.update}">수정</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='items.html'"
                    th:onclick="|location.href='@{/mailInfo}'|"
                    type="button" th:text="#{button.cancel}">목록으로</button>
        </div>
    </div>

</div> <!-- /container -->
</body>
</html>