<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<body>

<div class="container-fluid px-4" layout:fragment="content">
    <div class="py-2">
        <h2 th:text="#{page.mailInfo.list}">메일 설정 정보 목록</h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='createMailInfo.html'"
                    th:onclick="|location.href='@{/mailInfo/add}'|"
                    type="button" th:text="#{button.add}">등록</button>
        </div>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th th:text="#{label.id}">ID</th>
                <th th:text="#{label.mailInfo.mailInfoName}">메일 발송 정보</th>
                <th th:text="#{label.createdDate}">등록일</th>
                <th th:text="#{label.lastModifiedDate}">수정일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="mailInfo : ${mailInfoList}">
                <td><a href="item.html" th:href="@{/mailInfo/{mailInfoId}(mailInfoId=${mailInfo.id})}" th:text="${mailInfo.id}">메일 발송 정보 id</a></td>
                <td><a href="item.html" th:href="@{/mailInfo/{mailInfoId}(mailInfoId=${mailInfo.id})}" th:text="${mailInfo.mailInfoName}">메일 발송 정보</a></td>
                <td th:text="${{mailInfo.createdDate}}"></td>
                <td th:text="${{mailInfo.lastModifiedDate}}"></td>
            </tr>
            </tbody>
        </table>
        <nav class="dataTable-pagination" aria-label="Page navigation">
            <ul class="dataTable-pagination-list justify-content-center" th:with="start=${T(Math).floor(mailInfoList.number/10)*10 + 1},
                    maxPage=${mailInfoList.totalPages},
                    last=(${maxPage == 0 ? 1 : (start + (maxPage - 1) < maxPage ? start + (maxPage - 1) : maxPage)})">
                <li><a aria-label="Previous" href="/mailInfo/list?page=0">&laquo;</a></li>
                <li th:style="${mailInfoList.first} ? 'display:none'">
                    <a th:href="@{/mailInfo/list(page=${mailInfoList.number - 1})}">&lsaquo;</a>
                </li>
                <li th:each="page: ${#numbers.sequence(start, last)}"
                    th:class="${page - 1 == mailInfoList.number} ? 'active'">
                    <a th:text="${page}" th:href="@{/mailInfo/list(page=${page - 1})}"></a>
                </li>
                <li th:style="${mailInfoList.last} ? 'display:none'">
                    <a th:href="@{/mailInfo/list(page=${mailInfoList.number}+1)}">&rsaquo;</a>
                </li>
                <li><a aria-label="Next" class="pager" th:href="@{/mailInfo/list(page=${maxPage - 1})}">&raquo;</a></li>
            </ul>
        </nav>
        <form th:action="@{/mailInfo/list/search}" method="get">
            <div class="row">
                <div class="col">
                </div>
                <div class="col">
                    <input name="searchKey" id="searchKey" type="text" th:value="${searchKey}" class="form-control">
                </div>
                <div class="col">
                    <button class="btn btn-primary" th:text="#{label.search}">검색</button>
                </div>
                <div class="col">
                </div>
            </div>
        </form>
    </div>
    </div>

</div> <!-- /container -->

</body>
</html>