<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<body>

<div class="container-fluid px-4" layout:fragment="content">

    <div class="py-2">
        <h2 th:text="#{page.mailInfo}">메일 설정 정보</h2>
    </div>

    <!-- 추가 -->
<!--    <h2 th:if="${param.status}" th:text="'저장 완료'"></h2>-->
    <div>
        <label for="itemId" th:text="#{label.id}">ID</label>
        <input type="text" id="itemId" name="itemId" class="form-control" value="1" th:value="${mailInfo.id}" readonly>
    </div>
    <div>
        <label for="mailInfoName" th:text="#{label.mailInfo.mailInfoName}">설정명</label>
        <input type="text" id="mailInfoName" name="mailInfoName" class="form-control" value="설정명" th:value="${mailInfo.mailInfoName}" readonly>
    </div>
    <div>
        <label for="charset" th:text="#{label.mailInfo.charset}">charset</label>
        <input type="text" id="charset" name="charset" class="form-control" value="charset" th:value="${mailInfo.charset}" readonly>
    </div>
    <div>
        <label for="contentType" th:text="#{label.mailInfo.contentType}">contentType</label>
        <input type="text" id="contentType" name="contentType" class="form-control" value="contentType.name" th:value="${mailInfo.contentType.value}" readonly>
    </div>
    <div>
        <label for="encoding" th:text="#{label.mailInfo.encoding}">encoding</label>
        <input type="text" id="encoding" th:field="${mailInfo.encoding}" class="form-control" value="encoding.name" th:value="${mailInfo.contentType.value}" readonly>
    </div>
    <div>
        <label for="mailFrom" th:text="#{label.mailInfo.mailFrom}">mailFrom</label>
        <input type="text" id="mailFrom" name="mailFrom" class="form-control" value="10000" th:value="${{mailInfo.mailFrom}}" readonly>
    </div>
    <div>
        <label for="replyTo" th:text="#{label.mailInfo.replyTo}">replyTo</label>
        <input type="text" id="replyTo" name="replyTo" class="form-control" value="10" th:value="${{mailInfo.replyTo}}" readonly>
    </div>
    <div>
        <label for="lastModifiedDate" th:text="#{label.lastModifiedDate}">최종 수정일</label>
        <input type="text" id="lastModifiedDate" name="lastModifiedDate" class="form-control" value="10" th:value="${{mailInfo.lastModifiedDate}}" readonly>
    </div>
    <div>
        <label for="createdDate" th:text="#{label.createdDate}">생성일</label>
        <input type="text" id="createdDate" name="createdDate" class="form-control" value="10" th:value="${{mailInfo.createdDate}}" readonly>
    </div>

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editForm.html'"
                    th:onclick="|location.href='@{/mailInfo/{mailInfoId}/edit(mailInfoId=${mailInfo.id})}'|"
                    type="button" th:text="#{button.update}">수정</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='items.html'"
                    th:onclick="|location.href='@{/mailInfo/list}'|"
                    type="button" th:text="#{button.list}">목록으로</button>
        </div>
    </div>

</div> <!-- /container -->
</body>
</html>