<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">
<body>

<div class="container-fluid px-4" layout:fragment="content">
    <div class="py-2">
        <h2 th:text="#{page.mailInfo.list}">메일 설정 정보 목록</h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='createMailInfo.html'"
                    th:onclick="|location.href='@{/mailInfo/add}'|"
                    type="button" th:text="#{button.add}">등록</button>
        </div>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th th:text="#{label.id}">ID</th>
                <th th:text="#{label.mailInfo.mailInfoName}">메일 발송 정보</th>
                <th th:text="#{label.createdDate}">등록일</th>
                <th th:text="#{label.lastModifiedDate}">수정일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="mailInfo : ${mailInfoList}">
                <td><a href="item.html" th:href="@{/mailInfo/{mailInfoId}(mailInfoId=${mailInfo.id})}" th:text="${mailInfo.id}">메일 발송 정보 id</a></td>
                <td><a href="item.html" th:href="@{/mailInfo/{mailInfoId}(mailInfoId=${mailInfo.id})}" th:text="${mailInfo.mailInfoName}">메일 발송 정보</a></td>
                <td th:text="${mailInfo.createdDate}">10000</td>
                <td th:text="${mailInfo.lastModifiedDate}">10</td>
            </tr>
            </tbody>
        </table>
        <nav class="dataTable-pagination" aria-label="Page navigation" style="text-align:center;">
            <ul class="dataTable-pagination-list" th:with="start=${T(Math).floor(mailInfoList.number/10)*10 + 1},
                    last=(${(mailInfoList.totalPages == 0) ? 1 : (start + (maxPage - 1) < mailInfoList.totalPages ? start + (maxPage - 1) : mailInfoList.totalPages)})">
                <li><a aria-label="Previous" href="/mailInfo/list?page=1">&laquo;</a></li>
                <li th:style="${mailInfoList.first} ? 'display:none'">
                    <a th:href="@{/mailInfo/list(page=${mailInfoList.number})}">&lsaquo;</a>
                </li>
                <li th:each="page: ${#numbers.sequence(start, last)}"
                    th:class="${page == mailInfoList.number + 1} ? 'active'">
                    <a th:text="${page}" th:href="@{/mailInfo/list(page=${page})}"></a>
                </li>
                <li th:style="${mailInfoList.last} ? 'display:none'">
                    <a th:href="@{/mailInfo/list(page=${mailInfoList.number}+2)}">&rsaquo;</a>
                </li>
                <li><a aria-label="Next" class="pager" th:href="@{/mailInfo/list(page=${mailInfoList.totalPages})}">&raquo;</a></li>
            </ul>
        </nav>
    </div>
    </div>

</div> <!-- /container -->

</body>
</html>