<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">
<body>

<div class="container-fluid px-4" layout:fragment="content">

    <div class="py-2">
        <h2 th:text="#{page.sendInfo}">메일 등록</h2>
    </div>

    <form action="sendInfo.html" th:action th:object="${sendInfo}" method="post">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
        </div>
        <div>
            <label for="mailInfo" th:text="#{label.mailInfo.mailInfoName}">메일 설정</label>
            <select id="mailInfo" th:field="*{mailInfoId}" class="form-select">
                <option th:each="mailInfo : ${mailInfoList}" th:value="${mailInfo.key}" th:text="${mailInfo.value}" th:selected="${mailInfo.key}== ${sendInfo.mailInfoId}" >
            </select>
        </div>
        <div>
            <label for="mailGroup" th:text="#{label.mailGroup.mailGroupName}">발송 그룹</label>
            <select id="mailGroup" th:field="*{mailGroupId}" class="form-select">
                <option th:each="mailGroup : ${mailGroupList}" th:value="${mailGroup.key}"  th:text="${mailGroup.value}" th:selected="${mailGroup.key}== ${sendInfo.mailGroupId}" >
            </select>
        </div>
        <div>
            <label for="sendDate" th:text="#{label.sendInfo.sendDate}">발송시간</label>
            <input type="text" id="sendDate" th:field="*{sendDate}"
                   th:errorclass="field-error"
                   class="form-control" th:placeholder="${#calendars.format(#calendars.createNow(), 'yyyyddMMHHmm')}">
            <div class="field-error" th:errors="*{sendDate}">
                발송일 오류
            </div>
        </div>
        <div>
            <label for="subject" th:text="#{label.sendInfo.subject}">제목</label>
            <input type="text" id="subject" th:field="${sendInfo.subject}" class="form-control" th:value="${sendInfo.subject}" >
            <div class="field-error" th:errors="${sendInfo.subject}">
                replyTo 오류
            </div>
        </div>
        <div>
            <label for="content" th:text="#{label.sendInfo.content}">메일 본문</label>
            <textarea id="content" th:field="${sendInfo.content}"
                      th:errorclass="field-error"
                      class="form-control"
                      rows="10">
            </textarea>
            <div class="field-error" th:errors="${sendInfo.content}">
                replyTo 오류
            </div>
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit" th:text="#{button.save}">등록</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='mailGroupList.html'"
                        th:onclick="|location.href='@{/sendInfo/sendInfoList}'|"
                        type="button" th:text="#{button.cancel}">취소</button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>