<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">
<body>

<div class="container-fluid px-4" layout:fragment="content">
    <script th:inline="javascript">
        function sortSelect(selId)
        {
            var sel = $('#'+selId);
            var optionList = sel.find('option');
            optionList.sort(function(a, b){
            var aVal = Number(a.value);
            var bVal = Number(b.value);
                if (aVal > bVal)
                    return -1;
                else if (aVal < bVal)
                    return 1;
            });
            sel.html(optionList);
        }
        $(function() {
            sortSelect("mailGroup");
            sortSelect("mailInfo");
        });
    </script>
    <div class="py-2">
        <h2 th:text="#{page.sendInfo}">메일 등록</h2>
    </div>

    <form action="sendInfo.html" th:action th:object="${sendInfo}" method="post">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
        </div>
        <div>
            <label for="mailInfo" th:text="#{label.mailInfo.mailInfoName}">메일 설정</label>
            <select id="mailInfo" th:field="*{mailInfoId}" class="form-select">
                <option th:selected="${sendInfo.mailInfoId} eq null" value="">선택</option>
                <option th:each="mailInfo : ${mailInfoList}" th:value="${mailInfo.key}" th:text="${mailInfo.value}" th:selected="${mailInfo.key} eq ${sendInfo.mailInfoId}" >
            </select>
            <div class="field-error" th:errors="*{mailInfoId}">
                mailInfoId 오류
            </div>
        </div>
        <div>
            <label for="mailGroup" th:text="#{label.mailGroup.mailGroupName}">발송 그룹</label>
            <select id="mailGroup" th:field="*{mailGroupId}" class="form-select">
                <option th:selected="${sendInfo.mailGroupId} eq null" value="">선택</option>
                <option th:each="mailGroup : ${mailGroupList}" th:value="${mailGroup.key}"  th:text="${mailGroup.value}" th:selected="${mailGroup.key} eq ${sendInfo.mailGroupId}" >
            </select>
            <div class="field-error" th:errors="*{mailGroupId}">
                mailGroupId 오류
            </div>
        </div>
        <div>
            <label for="sendDate" th:text="#{label.sendInfo.sendDate}">발송시간</label>
            <input type="text" id="sendDate" name="sendDate"
                   th:errorclass="field-error"
                   class="form-control" th:value="${#dates.format(#dates.createNow(), 'yyyyMMddHHmm')}">
            <div class="field-error" th:errors="*{sendDate}">
                발송일 오류
            </div>
        </div>
        <div>
            <label for="subject" th:text="#{label.sendInfo.subject}">제목</label>
            <input type="text" id="subject" th:field="*{subject}" class="form-control" th:value="*{subject}" >
            <div class="field-error" th:errors="*{subject}">
                subject 오류
            </div>
        </div>
        <div>
            <label for="content" th:text="#{label.sendInfo.content}">메일 본문</label>
            <textarea id="content" th:field="*{content}"
                      th:errorclass="field-error"
                      class="form-control"
                      rows="10">
            </textarea>
            <div class="field-error" th:errors="*{content}">
                content 오류
            </div>
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit" th:text="#{button.save}">등록</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='mailGroupList.html'"
                        th:onclick="|location.href='@{/sendInfo/sendInfoList}'|"
                        type="button" th:text="#{button.cancel}">취소</button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>