<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<body>

<div class="container" style="max-width: 1000px" layout:fragment="content">
    <div class="py-5 text-center">
        <h2 th:text="#{page.sendInfo.list}">메일 설정 정보 목록</h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='createSendInfo.html'"
                    th:onclick="|location.href='@{/sendInfo/add}'|"
                    type="button" th:text="#{button.add}">등록</button>
        </div>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th th:text="#{label.id}">ID</th>
                <th th:text="#{label.sendInfo.subject}">발송 정보</th>
                <th th:text="#{label.sendTime}">발송 시간</th>
                <th th:text="#{label.status}">발송 상태</th>
                <th th:text="#{label.createdDate}">등록일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="sendInfo : ${sendInfoList}">
                <td><a href="sendInfo.html" th:href="@{/sendInfo/{sendInfoId}(sendInfoId=${sendInfo.id})}" th:text="${sendInfo.id}">메일 그룹 정보 id</a></td>
                <td><a href="sendInfo.html" th:href="@{/sendInfo/{sendInfoId}(sendInfoId=${sendInfo.id})}" th:text="${sendInfo.sendInfoName}">메일 그룹 정보</a></td>
                <td th:text="${sendInfo.createdDate}">10000</td>
                <td th:text="${sendInfo.lastModifiedDate}">10</td>
            </tr>
            </tbody>
        </table>
    </div>

</div> <!-- /container -->

</body>
</html>