<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">
<main layout:fragment="content" th:object="${sendResult}">
    <div class="container-fluid px-4">
        <h1 class="mt-4">메일 발송 결과</h1>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                메일 발송 데이터
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>total</th>
                        <th>success</th>
                        <th>error</th>
                        <th>complete</th>
                        <th>macroKey</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="*{totalCnt}">0</td>
                        <td th:text="*{successCnt}">0</td>
                        <td th:text="*{errorCnt}">0</td>
                        <td th:text="*{completedCnt}">0</td>
                        <td th:text="*{macroKey}">macroKey</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                메일 발송 상세 결과
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>mailAddress</th>
                        <th>name</th>
                        <th>macro</th>
                        <th>result code</th>
                        <th>result message</th>
                        <th>completed Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="detail : *{sendResultDetails}">
                        <td th:text="${detail.mailAddress.email}"></td>
                        <td th:text="${detail.mailAddress.name}"></td>
                        <td th:text="${detail.macroValue}"></td>
                        <td th:text="${detail.resultCode}"></td>
                        <td th:text="${detail.resultMessage}"></td>
                        <td th:text="${{detail.completedDate}}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
</html>