<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">
<main layout:fragment="content" th:object="${mailGroup}">
    <div class="container-fluid px-4">
        <h1 class="mt-4">DashmailGroup</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">DashmailGroup</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                메일 발송 결과
            </div>
            <div class="card-body">
                <table>
                    <thead>
                    <tr>
                        <th>총 발송수</th>
                        <th>성공</th>
                        <th>오류</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:value="*{totalCnt">Tiger Nixon</td>
                        <td th:value="*{completeCnt}">System Architect</td>
                        <td th:value="${user.macroValue}">Edinburgh</td>
                        <td>61</td>
                        <td>2011/04/25</td>
                        <td>$320,800</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                메일 발송 상세 결과
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                    <tr>
                        <th>mailAddress</th>
                        <th>name</th>
                        <th>macro</th>
                        <th>result code</th>
                        <th>result message</th>
                        <th>completed Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${users}">
                        <td th:value="${user.mailAddress.email">Tiger Nixon</td>
                        <td th:value="${user.mailAddress.name}">System Architect</td>
                        <td th:value="${user.macroValue}">Edinburgh</td>
                        <td>61</td>
                        <td>2011/04/25</td>
                        <td>$320,800</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
</html>