<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">
<body>

<div class="container-fluid px-4" layout:fragment="content">
    <form th:action="@{/sendInfo/{sendInfoId}/send(sendInfoId=${sendInfo.Id})}" th:object="${sendInfo}" method="post">
        <div class="py-2">
            <h2 th:text="#{page.sendInfo}">메일 설정 정보</h2>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col">
                <button  th:if="*{status.name()} eq 'WAIT'" class="w-100 btn btn-secondary btn-lg">메일 발송</button>
                <button th:if="*{status.name()} eq 'COMPLETE'"
                        th:onclick="|location.href='@{/sendInfo/{sendInfoId}/result/(sendInfoId=${sendInfo.id})}'|"
                        type="button" class="w-100 btn btn-secondary btn-lg">결과 보기</button>
            </div>
        </div>
        <!-- 추가 -->
    <!--    <h2 th:if="${param.status}" th:text="'저장 완료'"></h2>-->
        <div>
            <label for="sendInfoId" th:text="#{label.id}">ID</label>
            <input type="text" id="sendInfoId" th:field="*{id}" class="form-control" value="1" th:value="*{id}" readonly>
        </div>
        <div>
            <label for="sendDate" th:text="#{label.sendInfo.sendDate}">발송 예정 시간</label>
            <input type="text" id="sendDate" th:field="*{sendDate}" class="form-control" value="sendDate" th:value="*{sendDate}" readonly>
        </div>
        <div>
            <label for="completedDate" th:text="#{label.sendInfo.completedDate}">발송 완료 시간</label>
            <input type="text" id="completedDate" th:field="*{completedDate}" class="form-control" value="completedDate" th:value="*{completedDate}" readonly>
        </div>
        <div>
            <label for="mailGroupName" th:text="#{label.mailGroup}">그룹</label>
            <input type="text" id="mailGroupName" th:field="*{mailGroup.mailGroupName}" class="form-control" value="10000" th:value="*{mailGroup.mailGroupName}" readonly>
        </div>
        <div>
            <label for="status" th:text="#{label.sendInfo.status}">발송 상태</label>
            <input type="text" id="status" th:field="*{status.value}" class="form-control" value="등록" th:value="*{status.value}" readonly>
        </div>

        <div>
            <label for="subject" th:text="#{label.sendInfo.subject}">제목</label>
            <input type="text" id="subject" th:field="*{subject}" class="form-control" th:value="*{subject}" readonly>
        </div>
        <div>
            <label for="content" th:text="#{label.sendInfo.content}">메일 본문</label>
            <textarea id="content" th:field="*{content}"
                      th:value="*{content}"
                      th:errorclass="field-error"
                      class="form-control"
                      rows="10" readonly>
            </textarea>
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg"
                        onclick="location.href='editForm.html'"
                        th:onclick="|location.href='@{/sendInfo/{sendInfoId}/edit(sendInfoId=*{id})}'|"
                        type="button" th:text="#{button.update}">수정</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/sendInfo/list}'|"
                        type="button" th:text="#{button.list}">목록으로</button>
            </div>
        </div>
    </form>
</div> <!-- /container -->
</body>
</html>