<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<main layout:fragment="content" th:object="${sendResult}">
    <div class="container-fluid px-4">
        <h1 class="mt-4">메일 발송 결과</h1>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                메일 발송 데이터
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>total</th>
                        <th>success</th>
                        <th>error</th>
                        <th>complete</th>
                        <th>macroKey</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="*{totalCnt}">0</td>
                        <td th:text="*{successCnt}">0</td>
                        <td th:text="*{errorCnt}">0</td>
                        <td th:text="*{completedCnt}">0</td>
                        <td th:text="*{macroKey}">macroKey</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                메일 발송 상세 결과
            </div>
            <div class="dataTable-top">
                <div class="dataTable-dropdown"></div>
                <div class="dataTable-search">
                    <select class="dataTable-selector" th:field="${searchCond.type}">
                        <option th:each="searchCond : ${T(com.system.mail.sendresultdetail.ResultSearchType).values()}"
                                th:value="${searchCond.name()}"
                                th:text="${searchCond.name()}"></option>
                    </select>
                </div>
                <div class="dataTable-search">
                    <input class="dataTable-input" th:field="${searchCond.value}" placeholder="Search..." type="text">
                </div>
                <div class="dataTable-search">
                    <button class="button" th:href="@{/result/{id}/search(id=*{id})}">검색</button>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>mailAddress</th>
                        <th>name</th>
                        <th>macro</th>
                        <th>result code</th>
                        <th>result message</th>
                        <th>completed Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="sendResultDetail : ${sendResultDetails}">
                        <td th:text="${sendResultDetail.id}"></td>
                        <td th:text="${sendResultDetail.mailAddress.name}"></td>
                        <td th:text="${sendResultDetail.mailAddress.email}"></td>
                        <td th:text="${sendResultDetail.macroValue}"></td>
                        <td th:text="${sendResultDetail.resultCode}"></td>
                        <td th:text="${sendResultDetail.resultMessage}"></td>
                        <td th:text="${{sendResultDetail.completedDate}}"></td>
                    </tr>
                    </tbody>
                </table>
                <div>
                    <nav class="dataTable-pagination" aria-label="Page navigation">
                        <ul class="dataTable-pagination-list justify-content-center" th:with="start=${T(Math).floor(sendResultDetails.number/10)*10 + 1},
                    maxPage=${sendResultDetails.totalPages},
                    last=(${maxPage == 0 ? 1 : (start + (maxPage - 1) < maxPage ? start + (maxPage - 1) : maxPage)})">
                            <li><a aria-label="Previous" th:href="@{/result/{id}?page=0(id=*{id})}">&laquo;</a></li>
                            <li th:style="${sendResultDetails.first} ? 'display:none'">
                                <a th:href="@{/result/{id}(page=${sendResultDetails.number - 1},id=*{id})}">&lsaquo;</a>
                            </li>
                            <li th:each="page: ${#numbers.sequence(start, last)}"
                                th:class="${page - 1 == sendResultDetails.number} ? 'active'">
                                <a th:text="${page}" th:href="@{/result/{id}(page=${page - 1},id=*{id})}"></a>
                            </li>
                            <li th:style="${sendResultDetails.last} ? 'display:none'">
                                <a th:href="@{/result/{id}(page=${sendResultDetails.number}+1,id=*{id}})">&rsaquo;</a>
                            </li>
                            <li><a aria-label="Next" class="pager" th:href="@{/result/{id}(page=${maxPage - 1},id=*{id})}">&raquo;</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</main>
</html>